import { BigDecimal } from "@graphprotocol/graph-ts";

let configs = {
    "network": {{network}},
    "protocolName": "{{protocolName}}",
    "protocolSlug": "{{protocolSlug}}",
    "schemaVersion": "{{schemaVersion}}",
    "subgraphVersion": "{{subgraphVersion}}",
    "methodologyVersion": "{{methodologyVersion}}",
    "factoryAddress": "{{factoryAddress}}",
    "feeOnOff": {{feeOnOff}},
    "rewardIntervalType": "{{rewardIntervalType}}",
    "referenceToken": "{{referenceToken}}",
    "whitelistTokens": {{whitelistTokens}},
    "stableCoins": {{stableCoins}},
    "stableOraclePools": {{stableOraclePools}},
    "untrackedPairs": {{untrackedPairs}},
    "untrackedTokens": {{untrackedTokens}},
    "minimumLiquidityThreshold": {{minimumLiquidityThreshold}}
};